
body {
    position: relative;
    background-color: #222222;
    background-size: 100% 100%;
}
.center_wrap{
    text-align:center;
}
.floatcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    height: 120px;
}

.bottomfloatcontainer{
    margin-bottom: 80px;
}

.bashpromptprint{
    color: #FFD300;
    margin-right: 30px; 
    text-align: right;
}

h1{
    font-family: "VT323";
    font-size: 90px;
    color: white;
}

h2{
    font-family: "VT323";
    font-size: 60px;
    color: #9ACD32;
}

h3{
    text-align: left;
    font-family:"Ubuntu Mono";
    color: white;
}

.random_string{
    font-family: "VT323";
    color: #222222;

}

.link{
    color: red;
}
.stage_content{
    margin:auto;
    position: relative;
    width: 1000px;
}
.memorylane{
    margin:auto;
    margin-bottom: 100px;
    position: relative;
    width: 1000px;
}
.birthdaywish{
    position: relative;
    width: 100%; 
}
.mistake_box{
    position: relative;
}
.adsconscious_mistake{
    position: absolute;
    left: 570px;
    top: -5px;
}

.block_visible{
    display: block;
}
.block_invisible{
    display: none;
}

.textbookdef{
    position: relative;
    margin-left: 140px;
    margin-right: 140px;
}

#fragment2
{
position:absolute;
}

#fragment1
{
position:absolute;
width: 600px;
white-space:nowrap;
overflow:hidden;
-webkit-animation: frag1type 4s steps(50, end) 0s infinite;
animation: frag1type 4s steps(50, end) 0s infinite;
}
@keyframes frag1type{
    from { width: 0;}
    37%{width:600px;}
    49%{width:0;}
    100%{width:0;}
}

@-webkit-keyframes frag1type{
    from { width: 0;}
    37%{width:600px;}
    49%{width:0;}
    100%{width:0;}
}

#fragment2
{
  opacity: 0;
			width: 600px;
		    white-space:nowrap;
		    overflow:hidden;
		    -webkit-animation: frag2type 4s steps(50, end) 2s infinite;
		    animation: frag2type 4s steps(50, end) 2s infinite;
}
@keyframes frag2type{
    from { width: 0; opacity:1; }
    37%{width:600px;opacity:1; }
    49%{width:0;opacity:1; }
    100%{width:0;opacity:1; }
}

@-webkit-keyframes frag2type{
    from { width: 0; opacity:1; }
    37%{width:600px;opacity:1; }
    49%{width:0;opacity:1; }
    100%{width:0;opacity:1; }
}






