.vertwire{
    position:absolute;
    z-index:-1;
}

.vertleft:nth-child(1){
    transform: scale(1.2, 1.75) rotate(90deg) translate(-260px, 550px);
}
.vertleft:nth-child(2){
    transform: scale(1.2, 1.75) rotate(90deg) translate(-260px, 510px);
}
.vertleft:nth-child(3){
    transform: scale(1.2, 1.75) rotate(90deg) translate(-260px, 470px);
}


.vertleft:nth-child(4){
    transform: scale(1.2, 1.75) rotate(90deg) translate(-260px, -160px);
}
.vertleft:nth-child(5){
    transform: scale(1.2, 1.75) rotate(90deg) translate(-260px, -200px);
}
.vertleft:nth-child(6){
    transform: scale(1.2, 1.75) rotate(90deg) translate(-260px, -240px);
}






