.index-content{
    margin: 50px auto; 
    max-width: 650px;
    padding: 5px;
}

.header-frame{ /* contains image and name+description*/
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /*background: blue; /* debugging */*/
}

.header-info{
    width: 300px;
    /*background: green; /* debugging */*/
    padding: 5px;
    margin: 12px;
    align-items:center;
    justify-content:center;
}

.img-frame{
    position: relative;
    top: 0%; 
    left: 0%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 12px;
}

.twirl{
   animation: rotation 6s infinite linear; 
}

/* image-specific changes */
#propic1{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-height: 700px;
    min-height: 700px;
    transform: translate(-25%, -22%);
}

#propic2{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-height: 400px;
    min-height: 400px;
    transform: translate(-22%, -25%);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.longer{
	background-color: #1d1e22; 
    border: 2px solid #e0474c;
    color: #e0474c;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:"Source Code Pro"; 
    font-size: 16px;   
    border-radius: 5px;
}

.biolong{
    display:none;
}

.show{
    display:block;
}

.hide{
    display:none;
}

.columbiablue{
    color:#A6B7C8; 
}
#whodis{
    font-weight:bold;
}
#mytitle{
    margin-bottom:0;
}
#mytitle2{
    margin-top:0 ;
}

.funk{
    position: relative; 
    top: 100px; 
}
.photo_creds{
    position: relative;
    top: 100px;
    text-align:right;
    font-size: 12px;
}

.crazy-mode-toggler input[type="checkbox"] {
  display: none;
}

.crazy-mode-toggler input[type="checkbox"] + label::before {
  content: "";
  display: block;
  height: 26px;
  width: 60px;
  background: #6B7A8F; 
  border: 2px solid #000;
  border-radius: 15px;
  position: absolute;
  top: 0px; 
  left: 0px;
}
.crazy-mode-toggler input[type="checkbox"] + label::after {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background: #96979c;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: all 0.4s ease-in;
}
.crazy-mode-toggler input[type="checkbox"]:checked + label::before {
  background: #6B7A8F; 
  border: 2px solid #000;
}
.crazy-mode-toggler input[type="checkbox"]:checked + label::after {
  left: 37px;
  background: #8510d8;
  border: 2px solid #000;
  transition: all 0.4s ease-in;
}
#pseudowarning{
    position: relative;
    left: 70px;
    bottom: -6px;
}
#warning{
    position: relative;
    bottom: -20px;
    font-size: 13px;
    margin-bottom: 30px;
}
