/*
 * #6B7A8F Burberry
 * #F7882F Apricot
 * Citrus: #F7C331
 * Apple Core: #DCC7AA
 * Dark Slate: #1d1e22
 * Deep Matte Grey: #393f4d
 * Silver Fox: #d4d4dc
 * Yellow Background: #ffde22
 * Pink / Red Circle: #ff414e
 * Orange Circle: #ff8928
 * Columbia Blue: #A6B7C8
 *
*/

body{
    background-color: #262626;/* #6B7A8F ;/*#282828; */
    color: #fff;
    font-family: "Source Code Pro";
    margin-top: 60px;
}
::selection{
    background-color: #afd275;
    color: #000;
}
h1{
    font-weight: bold;
    font-size: 35px;
}
h2{
    color:  #F7C331; /* #e77170;*/
    font-size: 25px;
}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.tabs{
    margin: 12px;
    text-align:center; 
}
.tab0{
    color:#A6B7C8;
}
.tab1{
    color:#F7882F;
}
.tab2{
    color:#F7C331;
}
.tab3{
    color: #DCC7AA;
}
.tab4{
    color: #afd275;
}
.tab5{
    color: #e0474c;
}

