body{
    margin-left: 100px;
    margin-right: 100px;
}

.centerhead{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contactinfo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.under_construction{
    
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /*background: blue; /* debugging */*/
}

